@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background-color: #7121BF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#notification {
    max-width: 80%;
    position: fixed;
    z-index: 20;
    top: 10px;
    background-color: white;
    left: 15px;
    padding: 20px 10px;
    display: none;
    box-shadow: 0px 0px 3px black;
}

#notification::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

main {
    width: 88.8vw;
    min-width: 320px;
    background-color: white;
    margin: 13px auto 0;
    border-radius: 15px;
    position: relative;
}

main section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section h1 {
    color: #7221BA;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    width: 100%;
    margin-top: 30px;
    line-height: 38px;
}

main section p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #E04084;
    font-weight: 600;
    font-size: 18px;
}

main section p span {
    color: #0C80AF;
}

main form {
    width: 80%;
    height: 100%;
    margin: 24px auto 70px;
}

main form.form-register {
    display: none;
}

main form fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

main form fieldset label {
    color: #7121BF;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    text-align: left;
    margin: 18px 0;
}

main form fieldset input {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #7121BF;
    height: 42px;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    color: #7121BF;
    padding: 0 5px;
}

main form p {
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #0C80AF;
    cursor: pointer;
}

main form input[type='submit'] {
    margin-bottom: 15px;
}

main form #login-display {
    margin: 30px 0 0px;
    font-size: 14px;
}

main form #register-display {
    margin-top: 30px;
    margin-bottom: 16px;
}

main form fieldset input[type='submit'] {
    margin-top: 20px;
    background-color: #0c80af1a;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0C80AF;
    color: #0C80AF;
    transition: 1s;
}

main .items-controller .active {
    background-color: #0C80AF;
    border: none;
}

.items-controller {
    bottom: 20px;
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
}

.items-controller div {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
}

.items-controller div:nth-child(1) {
    margin-right: 10px;
}

@media screen and (min-width: 960px) {
    #notification {
        top: 178px;
        left: 54%;
    }
    main {
        display: flex;
        align-items: center;
    }
    main section {
        display: block;
    }
    main form {
        width: 80%;
        margin-right: 20px;
        overflow-y: auto;
        max-height: 353px;
    }
}

@media screen and (min-width: 1280px) {
    main {
        max-width: 960px;
    }
}