@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background-color: #7121BF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#notification {
    max-width: 80%;
    position: fixed;
    z-index: 20;
    top: 10px;
    background-color: white;
    left: 15px;
    padding: 20px 10px;
    display: none;
    box-shadow: 0px 0px 3px black;
}

#notification::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

#items-wrapper {
    width: 88.8vw;
    min-width: 320px;
    background-color: white;
    height: 530px;
    margin: 13px auto;
    border-radius: 15px;
    overflow-y: hidden;
    position: relative;
}

#items-wrapper section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#items-wrapper section h1 {
    color: #7221BA;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    width: 100%;
    margin-top: 30px;
    line-height: 38px;
}

#items-wrapper section p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #E04084;
    font-weight: 600;
    font-size: 18px;
}

#items-wrapper section p span {
    color: #0C80AF;
}

#items-wrapper #items {
    display: flex;
    height: 430px;
    overflow-x: auto;
}

#items-wrapper #items .item {
    flex: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#items-wrapper #items .item form {
    width: 80%;
    margin: 24px auto 10px;
    height: 100%;
}

#items-wrapper #items .item fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

#items-wrapper #items .item fieldset label {
    color: #7121BF;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    text-align: left;
    margin: 18px 0;
}

#items-wrapper #items .item fieldset input {
    width: 1000%;
    margin: 0 auto;
    border: 1px solid #7121BF;
    height: 42px;
    border-radius: 8px;
}

#items-wrapper #items .item p {
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #0C80AF;
}

#items-wrapper #items #register input[type='submit'] {
    margin-bottom: 15px;
}

#items-wrapper #items .item #register-display {
    margin: 30px 0 16px;
}

#items-wrapper #items .item #login-display {
    margin-top: 30px;
}

#items-wrapper #items .item fieldset input[type='submit'] {
    margin-top: 44px;
    background-color: #0c80af1a;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0C80AF;
    color: #0C80AF;
}


/* #items-wrapper #items div.items-controller div {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: white;
}

#items-wrapper #items div.items-controller div:nth-child(1) {
    margin-right: 10px;
} */